requests
numpy
pandas
matplotlib
qtpy
opencv-python-headless
opencv-contrib-python-headless
pyserial
imageio
scipy
crc==1.3.0
tifffile
lxml
scikit-image
aiortc
pydantic
napari[all]
dask_image
ome_zarr
aicsimageio
basicpy
imjoy-rpc
av
